* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Helvetica, sans-serif;
}
body {
    margin: 50px auto;
    text-align: center;
}
h1 {
    font-size: 2rem;
}
label {
    font-size: 1.5rem;
}
.input {
    border: 2px solid hsla(184, 72%, 50%, .8);
    font-size: 1.5rem;
}
.login {
    margin: 25px auto;
    padding: 20px;
    border: 5px solid  hsla(184, 72%, 50%, .8);
    width: 500px;
    background:  hsla(184, 72%, 50%, .1);
}
.login-section {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}
.login-button-section {
    display: flex;
    justify-content: flex-end;
}
.login-button {
    border: 2px solid hsla(184, 72%, 50%, .8);
    font-size: 1.5rem;
    padding: 2px;
}
.section {
    margin: 10px;
}
.item {
    margin: 2.5px;
    font-size: 1.5rem;
}
.add-button {
    font-size: 1.4rem;
    padding: 1px; 
}
.notecard {
    position: relative;
    margin: 0 auto;
    height: 4rem;
    width: 80%;
    border: 1px solid black;
    transition(.6s ease-in);
    transform-style(preserve-3d);
    &:hover {
      transform(rotateY(180deg));
    }
    p {
      font-size: 1em/.9;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    div {
      position: absolute;
      backface-visibility(hidden);
      width: 100%;
      margin: 0 auto;
    }
    .front {
      z-index: 100;
    }
    .back {
      z-index: 50;
      transform(rotateY(-180deg));
    }
  }
