html {
    font-family: Verdana, Helvetica, sans-serif;
}
h1 {
    padding: 10px 30px;
    font-size: 45px;
}
a, :visited {
    text-decoration: none;
    color: black;
}
a:hover {
    color: hsl(171,64%, 39%, 80%);
}
.title {
    display: flex;
    justify-content: center;
}
.line {
    border-left: 4px solid black;
    
}
.section {
    padding: 0 10%;
}
.about {
    display: flex;
}
p {
    padding-right: 10px;
}
img {
    max-width: 50%;
}
.item {
    font-size: 32px;
    padding: 10px 30px;
}